configuration {
	modi: "drun,find:~/.scripts/finder.sh,window";
	font: "iosevka 14";
	location: 0;
	show-icons: true;
	drun-match-fields: "name,generic,categories";
	sidebar-mode: true;
	eh: 1;
	matching: "fuzzy";
	sort: true;
	sorting-method: "fzf";
}

@theme "slate"
