#include ".config/polybar/caffine_off"

Xft.antialias: 1
Xft.dpi: 96
Xft.hinting: 0
Xft.hintstyle: hintnone
Xft.lcdfilter: lcddefault
Xft.rgba: rgb

URxvt.scrollBar: false
URxvt.cursorBlink: true
URxvt.saveLines: 1000000
URxvt.transparent: true
URxvt.shading:20
! urxvt*depth: 32
! urxvt*background: rgba:0000/0000/0200/c800

*font: xft:iosevka:size=11
