#include ".config/polybar/caffine_off"

Xft.antialias: 1
Xft.dpi: 96
Xft.hinting: 0
Xft.hintstyle: hintnone
Xft.lcdfilter: lcddefault
Xft.rgba: rgb

URxvt.scrollBar: false
URxvt.cursorBlink: true
URxvt.saveLines: 2000
URxvt.transparent: true
URxvt.shading:20

*font: xft:iosevka:size=11
